.article {
  margin-top: 20px;
  width: 40%;
  margin: auto;
}
input {
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
  border-color: #e5e7eb;
}
.user_list {
  margin-top: 50px;
  width: 100%;
  border: 2px solid #8a8a80;
  border-radius: 6px;
}
.user {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e5e7eb;
  align-items: center;
  background-color: white;
}
.user p {
  color: #8a8a80;
}

.left p {
  margin-top: -15px;
}
